@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


.header-area {
  height: theme(spacing.16);
}

.content-area {
  height: calc(100vh - theme(spacing.16));
}
 
.logo-text {
  font-family: 'Dancing Script', cursive;
}